<div class="w-full">
      <div class="bg-white rounded m-2 animate__animated animate__fadeIn animate__delay-1s">
        <div class="flex flex-col bg-white rounded w-full mx-auto p-2">
          <div class="flex flex-col md:flex-row gap-3 items-center text-gray-800 p-3 rounded-md justify-between">
            <div class="flex gap-3 items-center text-gray-800 rounded-md">
              <div class="flex flex-col">
                <h1 class="text-gray-800 !text-xl animate__animated animate__fadeIn animate__delay-2s"> Web App Development </h1>
                <h1 class="text-gray-800 !text-lg animate__animated animate__fadeIn animate__delay-3s"> Project Details </h1>
              </div>
            </div>
            <div class="flex text-sm space-x-6 mt-5">
              <p class="animate__animated animate__fadeIn animate__delay-2s">KES 40,000</p>
              <button class="bg-green-500 text-white text-xs py-1 px-4 rounded-full inline-flex items-center space-x-6 animate__animated animate__fadeIn animate__delay-3s">
                <span>Payment Completed</span>
                <svg id="icon-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 31.1 31.101">
                  <path id="Path_446" data-name="Path 446" d="M451.146,979.009A15.55,15.55,0,1,0,466.7,994.56,15.55,15.55,0,0,0,451.146,979.009Zm-1.819,22.542-6.887-6.135,1.949-2.188,4.67,4.16,9.269-10.7,2.214,1.918Z" transform="translate(-435.596 -979.009)" fill="#fff"/>
                </svg>                                      
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="p-3 animate__animated animate__fadeIn animate__delay-2s">
            <p class="animate__animated animate__fadeIn animate__delay-3s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
            <br>
            <p class="animate__animated animate__fadeIn animate__delay-4s">Allamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. llamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essllamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
          </div>
        </div>
      </div>
  </div>