<div class="min-h-full">
  <app-customer-nav (sideNavToggleEvent)="toggleSideNav()"></app-customer-nav>
  <main>
    <mat-sidenav-container>
      <mat-sidenav [(opened)]="sideNavOpened">
        <app-customer-side-nav></app-customer-side-nav>
        <div class="sm:hidden border-t border-gray-200 font-medium">
          <mat-nav-list>
            <a mat-list-item (click)="logout()">Log out</a>
          </mat-nav-list>
        </div>
      </mat-sidenav>
    
      <mat-sidenav-content id="container" class="flex-1 overflow-auto relative" style="scroll-behavior: smooth">
        <div class="max-w-full mx-auto pt-6 pb-12 px-2 lg:px-20">
            <div id="main-content" class="w-full flex-1">
                <main class="w-full">
                    <div>
                      <h1 class="my-6 text-xl font-semibold flex gap-8 items-center animate__animated animate__fadeIn animate__delay-2s">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 31.715 29.829" class="cursor-pointer" routerLink="/customer/incoming">
                            <g id="Vector_Smart_Object" data-name="Vector Smart Object" transform="translate(2.589 1.29)">
                                <g id="Vector_Smart_Object-2" data-name="Vector Smart Object" transform="translate(0 0)">
                                    <g id="Group_65" data-name="Group 65" transform="translate(0 0)">
                                        <path id="Path_124" data-name="Path 124" d="M221.175,150.066,209.68,163.691l11.495,13.625"
                                            transform="translate(-209.653 -150.066)" fill="none" stroke="#1f0fa3" stroke-miterlimit="10"
                                            stroke-width="4" />
                                        <line id="Line_27" data-name="Line 27" x1="29.126" transform="translate(0 13.625)" fill="none"
                                            stroke="#1f0fa3" stroke-miterlimit="10" stroke-width="4" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <div>
                          Vulnerabilities<span class="text-sm"> / {{bug?.title}}</span>
                        </div>
                      </h1>
                    </div>
                
                    <div class="w-full animate__animated animate__fadeIn animate__delay-2s">
                        <div class="bg-white shadow-xl rounded m-2">
                          <div class="flex flex-col bg-white rounded w-full mx-auto p-2">
                            <div class="flex flex-col md:flex-row gap-3 items-center text-gray-800 p-3 rounded-md justify-between">
                              <div class="flex gap-3 items-center text-gray-800 p-3 rounded-md">
                                <div class="flex flex-col">
                                  <div class="text-xl">
                                    Detail View
                                  </div>
                                  <div class="flex flex-col text-sm divide-y divide-slate-200">
                                    <div class="grid grid-cols-2 gap-8 p-2">
                                      <div>Vulnerability Type</div>
                                      <div>{{bug?.vulnerability.name}}</div>
                                    </div>
                                    <div class="grid grid-cols-2 gap-8 p-2">
                                      <div>Reported by</div>
                                      <div>{{bug?.hacker.fullName}}</div>
                                    </div>
                                    <div class="grid grid-cols-2 gap-8 p-2">
                                      <div>Asset</div>
                                      <div>{{bug?.domainName}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="flex h-full text-sm space-x-6">
                                <!-- <div class="relative w-full">
                                  <div class="mt-1 relative rounded-md shadow-sm">
                                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                      <span class="text-gray-500 sm:text-sm">
                                        Status
                                      </span>
                                    </div>
                                    
                                    <div class="absolute inset-y-0 md:right-40 right-0 flex items-center border-l border-slate-500 animate__animated animate__fadeIn animate__delay-4s">
                                      <label for="currency" class="sr-only">Currency</label>
                                      <select id="currency" name="currency" class="h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md animate__animated animate__fadeIn animate__delay-2s">
                                        <option>Select asset type</option>
                                        <option value="A">All clusters</option>
                                        <option value="B">Access control</option>
                                        <option value="C">Memory corruption</option>
                                      </select>
                                    </div>
                                  </div>
                                </div> -->
                                <!-- <select class="block w-1/2 outline outline-slate-500 outline-1 rounded-full px-10 py-3 animate__animated animate__fadeIn animate__delay-2s">
                                  <option value="New">New</option>
                                  <option value="Validated">Validated</option>
                                  <option value="Opened">Opened</option>
                                  <option value="Closed">Closed</option>
                                </select> -->
                                <!-- <button class="bg-transparent text-gray-800 border border-slate-500 py-1 px-4 rounded-full inline-flex items-center gap-3">
                                  <span>Status</span>
                                  <span>Validated</span>
                                  <svg id="icon-drop_down" data-name="icon-drop down" xmlns="http://www.w3.org/2000/svg" width="12" height="5" viewBox="0 0 21 12">
                                    <path id="Color_Overlay" data-name="Color Overlay" d="M11599,610h21l-10.5,12Z" transform="translate(-11599.001 -610.001)" fill="#999"/>
                                  </svg>
                                </button> -->
                              </div>
                            </div>
                            <div class="p-3">
                              <h1 class="text-gray-800 !text-xl p-2"> Reproduction Details </h1>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="p-6">
                              <ejs-richtexteditor [toolbarSettings]='tools' [height]='300' [value]="bug?.description" readonly="true"></ejs-richtexteditor>
                            </div>
                            <div class="p-3">
                              <h1 class="text-gray-800 !text-xl p-2"> Impact </h1>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="p-6">
                              <ejs-richtexteditor [toolbarSettings]='tools' [height]='300' [value]="bug?.impact" readonly="true"></ejs-richtexteditor>
                            </div>
                            <mat-divider></mat-divider>
                            <div *ngIf="bug?.status == BugStatus.Validated" class="h-10 lg:h-10 max-w-full w-full px-4 py-2">
                              <div class="grid grid-cols-2 gap-2">
                                <div>&nbsp;</div>
                                <div class="ml-3 overflow-hidden justify-self-end">
                                  <button class="px-4 py-1 text-sm text-white rounded-full hover:bg-[#FC007E]" (click)="payout(bug)">Pay</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
</div>