.custom-card {
    align-self: stretch;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 14px 28px rgb(0 0 0 / 2%), 0 10px 10px rgb(0 0 0 / 0%); */
  }
  
  .upper-row {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 25px; */
    /* padding-top: 10px; */
  }
  
  .card-item {
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
  }
  
  .card-item span:first-child {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-item span:last-child {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .lower-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  /* .lower-row::before {
    content: '';
    display: block;
    position: absolute;
    top: 110px;
    width: 50%;
    left: 25%;
    border-top: 1px solid #E1E1E1;
  } */
  
  .icon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .currency {
    color: #1f04a3;
  }
  
  .icon {
    color: #FFC168;
    padding: 10px;
    background-color: #1f04a31f;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .icon-text {
    font-size: 0.6em;
    color: #939393;
  }
  
  .right-items {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }