$md-primary: (
  50 : #e7e1f9,
  100 : #c4b5f1,
  200 : #9c84e8,
  300 : #7453df,
  400 : #572ed8,
  500 : #3909d1,
  600 : #3308cc,
  700 : #2c06c6,
  800 : #2405c0,
  900 : #1702b5,
  A100 : #e0deff,
  A200 : #b1abff,
  A400 : #8178ff,
  A700 : #6a5eff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$md-accent: (
  50 : #e1e1e3,
  100 : #b5b3ba,
  200 : #83808c,
  300 : #514d5d,
  400 : #2c273b,
  500 : #070118,
  600 : #060115,
  700 : #050111,
  800 : #04010e,
  900 : #020008,
  A100 : #4e4eff,
  A200 : #1b1bff,
  A400 : #0000e7,
  A700 : #0000ce,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  ),
);
