$md-primary: (
  50: #e4e1f4,
  100: #bcb4e3,
  200: #8f82d1,
  300: #624fbf,
  400: #412ab1,
  500: #1f04a3,
  600: #1b039b,
  700: #170391,
  800: #120288,
  900: #0a0177,
  A100: #a7a5ff,
  A200: #7672ff,
  A400: #443fff,
  A700: #2c25ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-accent: (
  50: #ffe0f0,
  100: #feb3d8,
  200: #fe80bf,
  300: #fd4da5,
  400: #fc2691,
  500: #fc007e,
  600: #fc0076,
  700: #fb006b,
  800: #fb0061,
  900: #fa004e,
  A100: #ffffff,
  A200: #ffedf2,
  A400: #ffbacb,
  A700: #ffa1b8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
