<div class="flex flex-col justify-items-center gap-10 bg-[#FFFFFF]">  
    <cdk-accordion class="flex flex-col gap-4">
      <cdk-accordion-item
        #accordionItem="cdkAccordionItem"
        *ngFor="let item of items"
        class="flex flex-col"
      >
        <a
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: !!item.exactPath }"
          #active="routerLinkActive"
          class="relative flex items-center gap-4 px-12 py-3 text-[#8E8E8E]"
        >
          <p
            class="metropolis text-clienthome font-normal not-italic"
            [class.font-bold]="active.isActive"
          >
            {{ item.text }}
          </p>
  
          <div class="indicator absolute inset-y-0 right-0 w-2"></div>
        </a>
  
        <div *ngIf="item.children" class="children flex-col">
          <a
            *ngFor="let child of item.children"
            [routerLink]="item.routerLink + child.path"
            #active="routerLinkActive"
            routerLinkActive="active"
            class="child flex items-center gap-4 px-12 py-2 text-[#8E8E8E]"
          >
            <div style="width: 24px"></div>
            <p class="metropolis">
              {{ child.text }}
            </p>
          </a>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
  