<div class="min-h-full">
  <app-customer-nav (sideNavToggleEvent)="toggleSideNav()"></app-customer-nav>
  <main>
    <mat-sidenav-container>
      <mat-sidenav [(opened)]="sideNavOpened">
        <app-customer-side-nav></app-customer-side-nav>
        <div class="sm:hidden border-t border-gray-200 font-medium">
          <mat-nav-list>
            <a mat-list-item (click)="logout()">Log out</a>
          </mat-nav-list>
        </div>
      </mat-sidenav>

      <mat-sidenav-content
        id="container"
        class="flex-1 overflow-auto relative px-3 lg:px-10 pb-20"
        style="scroll-behavior: smooth"
      >
        <div class="max-w-full mx-auto md:py-6 py-10 sm:px-6 lg:px-20">
          <div class="flex flex-row flex-wrap flex-1 flex-grow content-start">
            <div id="main-content" class="w-full flex-1">
              <main class="w-full" [ngClass]="{ scroll: showReportForm }">
                <div class="flex flex-col md:flex-row justify-between">
                  <div>
                    <h1
                      class="my-6 text-xl font-semibold flex gap-8 items-center"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 31.715 29.829"
                        class="cursor-pointer"
                        routerLink="/customer/projects"
                      >
                        <g
                          id="Vector_Smart_Object"
                          data-name="Vector Smart Object"
                          transform="translate(2.589 1.29)"
                        >
                          <g
                            id="Vector_Smart_Object-2"
                            data-name="Vector Smart Object"
                            transform="translate(0 0)"
                          >
                            <g
                              id="Group_65"
                              data-name="Group 65"
                              transform="translate(0 0)"
                            >
                              <path
                                id="Path_124"
                                data-name="Path 124"
                                d="M221.175,150.066,209.68,163.691l11.495,13.625"
                                transform="translate(-209.653 -150.066)"
                                fill="none"
                                stroke="#fc007e"
                                stroke-miterlimit="10"
                                stroke-width="4"
                              />
                              <line
                                id="Line_27"
                                data-name="Line 27"
                                x1="29.126"
                                transform="translate(0 13.625)"
                                fill="none"
                                stroke="#fc007e"
                                stroke-miterlimit="10"
                                stroke-width="4"
                              />
                            </g>
                          </g>
                        </g>
                      </svg>
                      Projects<span class="text-sm"
                        >/ Project {{ projectDetail?.title }}</span
                      >
                    </h1>
                    <!-- <a class="text-indigo-600" routerLink="/customer/projects">←</a> Projects<span class="text-sm">/ Project {{projectDetail?.title}}</span> -->
                  </div>
                  <br />
                  <div *ngIf="this.projectDetail?.projectStatus == 2">
                    <button
                      class="px-4 py-1 bg-[#E9347D] text-sm text-white rounded-full"
                      (click)="
                        closeProjectByCustomer({
                          projectId: this.projectDetail?.id,
                          closedBy: this.projectDetail?.customer?.userName
                        })
                      "
                    >
                      Close Project
                    </button>
                    <!-- <button class="ml-5 px-4 py-1 text-sm text-white rounded-full" (click)="toggleReportForm()">Add to Submitted Issues</button> -->
                  </div>
                </div>

                <div class="w-full pb-16" *ngIf="!this.loading">
                  <div class="bg-white shadow-md rounded">
                    <div
                      class="flex flex-col bg-white rounded w-full mx-auto p-2"
                    >
                      <div class="grid lg:grid-cols-2 gap-10">
                        <div class="p-3">
                          <div
                            class="flex gap-3 items-center text-gray-800 p-3 justify-between"
                          >
                            <div
                              class="flex gap-3 items-center text-gray-800 rounded-md"
                            >
                              <div class="flex flex-col">
                                <div class="text-gray-400">
                                  {{ projectDetail?.title }}
                                </div>
                                <div class="text-indigo-600 text-sm">
                                  {{ projectDetail?.testType?.name }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <mat-divider></mat-divider>
                          <br />
                          <!-- <ejs-richtexteditor [toolbarSettings]='tools' [height]='300' [value]="projectDetail?.description" readonly="true"></ejs-richtexteditor> -->
                          <p>
                            {{ projectDetail?.description }}
                          </p>
                          <br />
                          <mat-divider></mat-divider>
                          <br />
                          <p class="text-base">Scopes</p>
                          <br />
                          <p>In Scope</p>
                          <div
                            *ngFor="let domain of projectDetail?.domains"
                            class="max-w-full w-full py-2"
                          >
                            <div class="grid grid-cols-4 gap-2">
                              <div>
                                <p>Domain</p>
                              </div>
                              <div>
                                <p>{{ domain.name }}</p>
                              </div>
                              <div>
                                <p class="text-red-500">● Critical</p>
                              </div>
                              <div
                                class="ml-3 overflow-hidden justify-self-end"
                              >
                                <p class="text-red-500">Ineligible</p>
                              </div>
                            </div>
                          </div>
                          <!-- <mat-divider></mat-divider> -->

                          <br />
                          <!-- <p>Out of Scope</p>
                            <div class="max-w-full w-full py-2">
                              <div class="grid grid-cols-5 gap-2">
                                <div>
                                  <p>Domain</p>
                                </div>
                                <div class="col-span-4">
                                  <p>tva.com</p>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali
                                  </p>
                                </div>
                              </div>
                            </div> -->
                          <!-- <mat-divider></mat-divider>
                            <br>
                            <p class="text-base">Domain</p>
                            <p>www.loremipsum.com</p>
                            <p>www.loremipsum.io</p> -->
                        </div>

                        <div class="p-3">
                          <div
                            class="flex gap-3 items-center text-gray-800 p-3 justify-between"
                          >
                            <div
                              class="flex gap-3 items-center text-gray-800 rounded-md"
                            >
                              <div class="flex flex-col">
                                <div class="text-gray-400">
                                  {{
                                    !projectDetail?.reviews
                                      ? "there are no reviews available"
                                      : "Reviews"
                                  }}
                                </div>
                                <div class="text-indigo-600 text-sm">
                                  &nbsp;
                                </div>
                              </div>
                            </div>
                          </div>
                          <mat-divider></mat-divider>
                          <br />
                          <!-- <ul *ngIf="this.projectDetail?.reviews" role="list" class="overflow-y-scroll p-6 divide-y divide-slate-200 relative grid gap-2">
                             <li>
                              <p>
                                There are no reviews available for this project
                              </p>
                             </li> 
                            </ul> -->
                          <ul
                            *ngIf="this.projectDetail?.reviews"
                            role="list"
                            class="overflow-y-scroll p-6 divide-y divide-slate-200 relative grid gap-2"
                          >
                            <li
                              *ngFor="let review of projectDetail?.reviews"
                              class="flex flex-col pt-4 first:pt-0 last:pb-0 hover:bg-gray-100"
                            >
                              <div class="flex">
                                <img
                                  class="h-10 w-10 rounded-full"
                                  src="assets/images/Profile-large.png"
                                  alt=""
                                />
                                <div class="flex-col">
                                  <div class="flex">
                                    <div
                                      class="ml-3 overflow-hidden text-left space-y-1 mx-auto"
                                    >
                                      <p class="text-sm text-gray-900">
                                        {{ review.userName }}
                                      </p>
                                      <p class="text-xs text-gray-500 truncate">
                                        Completed on {{ review.date | date }}
                                      </p>
                                    </div>
                                    <div class="ml-3 overflow-hidden">
                                      <button
                                        class="px-4 py-1 text-sm text-white rounded-full"
                                        (click)="toggleReportForm()"
                                      >
                                        See more
                                      </button>
                                    </div>
                                  </div>
                                  <div *ngIf="this.showReportForm" class="pl-2">
                                    <p class="text-sm text-gray-500 mt-4">
                                      {{ review.comment }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="w-full pb-16" *ngIf="showReportForm">
                    <div class="bg-white shadow-md rounded">
                      <div class="flex flex-col bg-white rounded w-full mx-auto p-2">
                        <div class="grid lg:grid-cols-2 gap-10">
                          <div class="p-3">
                            <div class="flex gap-3 items-center text-gray-800 p-3 justify-between">
                              <div class="flex gap-3 items-center text-gray-800 rounded-md">
                                <div class="flex flex-col">
                                  <div class="text-gray-400">
                                    Jane Doe
                                  </div>
                                  <div class="text-indigo-600 text-sm">
                                    Cross site Scripting
                                  </div>
                                </div>
                              </div>
                              <div class="flex text-sm space-x-6">
                                <button *ngIf="rated" class="text-white border border-slate-500 bg-green-500 py-1 px-4 rounded-full inline-flex items-center">
                                  <span>Rated {{rating}} stars</span>
                                </button>

                                <button *ngIf="!rated" class="text-white border border-slate-500 py-1 px-4 rounded-full inline-flex items-center" (click)="showRatingDialog()">
                                  <span>Rate this submission</span>
                                </button>
                              </div>
                            </div>
                            <mat-divider></mat-divider>
                            <br>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.
                            </p>
                            <br>
                            <p>
                              Allamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. llamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essllamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                            </p>
                            <br>
                            <mat-divider></mat-divider>
                            <br>
                            <p class="text-base">Targeted Domain</p>
                            <p>www.loremipsum.com</p>
                          </div>

                          <div class="p-3">
                            <div class="flex gap-3 items-center text-gray-800 p-3 justify-between">
                              <div class="flex gap-3 items-center text-gray-800 rounded-md">
                                <div class="flex flex-col">
                                  <div class="text-gray-400">
                                    Reproducible Steps
                                  </div>
                                  <div class="text-indigo-600 text-sm">
                                    &nbsp;
                                  </div>
                                </div>
                              </div>
                            </div>
                            <mat-divider></mat-divider>
                            <br>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.
                            </p>
                            <br>
                            <p>
                              Allamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. llamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essllamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
              </main>
            </div>
          </div>
          <!-- /End replace -->
        </div>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
</div>
